doctype html
html
  head
    meta(lang="en")
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(rel="stylesheet" href="index.css")
    title mattymil Analytics
  body
    .container
      .row
        col-xs-12.text-center
          h1 Bandwidth Monitor
      .row
        #speedCharter(width="100%" height="400px")
        #latencyCharter(width="100%" height="400px")

    script(src="index.js")
